<div *ngIf="user | async; let user; else showLogin" class="logout-content">
  <div class="logout-identity">Logged in as {{user.email}}</div>
  <div><button mat-button color="primary" (click)="logout()">Click here to log out</button></div>
</div>

<ng-template #showLogin>
  <div class="login-options">

    <div class="login-content">

      <form #loginForm="ngForm">
        <div class="login-form">
          <mat-card>
            <mat-toolbar>
              <div>
                <span>Login with email</span>
              </div>
            </mat-toolbar>

            <mat-form-field>
              <input matInput placeholder="Email" [formControl]="email" required (keyup)="resetCredentials()">
            </mat-form-field>

            <mat-form-field>
              <input type="password" matInput placeholder="Password" [formControl]="password" required
                (keyup)="resetCredentials()">
            </mat-form-field>

            <mat-error *ngIf="email.invalid && email.touched">
              {{getEmailErrorMessage()}}
            </mat-error>

            <mat-error *ngIf="password.invalid && password.touched">
              {{getPasswordErrorMessage()}}
            </mat-error>

            <mat-error *ngIf="invalidCredentials">
              The supplied credentials were invalid.
            </mat-error>

            <mat-error *ngIf="submitError">
              An error was encountered. Please try again.
            </mat-error>

            <div class="submitrow">
              <button *ngIf="!submitting" mat-button color="primary" [disabled]="formInvalid()"
                (click)="loginWithEmailAndPassword()">Log in</button>
              <mat-spinner *ngIf="submitting" [diameter]="30" [strokeWidth]="5"></mat-spinner>
            </div>

          </mat-card>

        </div>
      </form>
    </div>

    <div class="login-content">
      <button mat-button ccolor="primary" (click)="login()">or Log in with Google</button>
    </div>

  </div>
</ng-template>