<mat-toolbar>
  <h1>Angular Firestore Auth</h1>
  <span class="fill-remaining-space"></span>

  <ng-container *ngIf="user | async; let user">
    <a class="admin-link" *ngIf="user.roles.admin" [routerLink]="['/admin']" style="text-decoration: none;">admin</a>
  </ng-container>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <ng-container *ngIf="user | async; let user; else showLogin">
      <button mat-menu-item (click)="goToMenuChoice('login')">
        <mat-icon>notifications_off</mat-icon>
        <span>sign out</span>
      </button>
    </ng-container>
    <ng-template #showLogin>
      <button mat-menu-item (click)="goToMenuChoice('login')">
        <mat-icon>notifications_off</mat-icon>
        <span>sign in</span>
      </button>
    </ng-template>
  </mat-menu>

</mat-toolbar>

<router-outlet></router-outlet>